<div class="form-wizard">
  {{#if steps.one}}
    <p>
      {{text-for 'paragraph.file_description'}}
    </p>
    <FileChooser @onFileChosen={{action handleFileChosen}} accept="{{accept}}">
      {{text-for 'button.invoke_file_picker'}}
    </FileChooser>
    <p class="info info-file-size">
      {{text-for 'paragraph.file_size_warning'}}
    </p>
  {{/if}}

  {{#if steps.two}}
    <div class="field field-name">
      <label for="name">{{text-for 'label.first_name'}}</label>
      <input type="text" id="name" oninput={{action nameChanged}} value={{name}}/>

      {{#if noName}}
        <p class="info info-no-name">
          {{text-for 'paragraph.no_name_consequences'}}
        </p>
      {{/if}}
    </div>

    <div class="field field-email">
      <label for="email">{{text-for 'label.email'}}</label>
      <input type="text" id="email" oninput={{action emailChanged}} value={{email}}/>

      {{#if noEmail}}
        <p class="info info-no-email">
          {{text-for 'paragraph.no_email_consequences'}}
        </p>
      {{/if}}
    </div>

    <div class="field field-submit-data">
      <button class="submit-data-button" type="button" onclick={{action submitData}}>{{text-for 'button.submit'}}</button>
    </div>
  {{/if}}

  {{#if steps.three}}
    <DataUploader @name={{name}} @email={{email}} @file={{file}} @onComplete={{action handleDataUploaded}} @uploadUrl={{uploadUrl}} @submitUrl={{submitUrl}} />
  {{/if}}

  {{#if steps.four}}
    <p class="message message-finished-uploading">
      {{text-for 'paragraph.video_finished_uploading'}}
      {{#if hasEmail}}
        {{text-for 'paragraph.video_finished_uploading_append_email'}}
      {{/if}}
    </p>
  {{/if}}

</div>
