<div class="form-wizard">
  {{#if steps.one}}
    <p>
      {{text-for 'paragraph.file_description'}}
    </p>
    <FileChooser @onFileChosen={{action handleFileChosen}} accept="{{accept}}">
      {{text-for 'button.invoke_file_picker'}}
    </FileChooser>
    <p class="info info-file-size">
      {{text-for 'paragraph.file_size_warning'}}
    </p>
  {{/if}}

  {{#if steps.two}}
    {{#each fields key="@index" as |field|}}
      <Field @label={{text-for (concat 'label.' field.name)}} @name={{field.name}} as |fieldId nameId|>
        <input type="text" id={{ fieldId }} oninput={{action updateField field.name}} value={{field.value}}/>

        {{#if (not field.value)}}
          <p class="info info-no-{{ nameId }}">
            {{text-for (concat 'paragraph.no_' nameId '_consequences')}}
          </p>
        {{/if}}
      </Field>
    {{/each}}

    <div class="field field-submit-data">
      <button class="submit-data-button" type="button" onclick={{action submitData}}>{{text-for 'button.submit'}}</button>
    </div>
  {{/if}}

  {{#if steps.three}}
    <DataUploader @fields={{fields}} @file={{file}} @onComplete={{action handleDataUploaded}} @uploadUrl={{uploadUrl}} @submitUrl={{submitUrl}} />
  {{/if}}

  {{#if steps.four}}
    <p class="message message-finished-uploading">
      {{text-for 'paragraph.video_finished_uploading'}}
      {{#if email}}
        {{text-for 'paragraph.video_finished_uploading_append_email'}}
      {{/if}}
    </p>
  {{/if}}

</div>
