<div class="form-wizard">
  {{#if steps.one}}
    <p>
      {{text-for 'paragraph.file_description'}}
    </p>
    <FileChooser @onFileChosen={{action handleFileChosen}} accept="{{accept}}">
      {{text-for 'button.invoke_file_picker'}}
    </FileChooser>
    <p class="info info-file-size">
      {{text-for 'paragraph.file_size_warning'}}
    </p>
  {{/if}}

  {{#if steps.two}}
    <Field @label={{text-for 'label.first_name'}} @name="name" as |fieldId nameId|>
      <input type="text" id={{ fieldId }} oninput={{action nameChanged}} value={{name}}/>

      {{#if (not name)}}
        <p class="info info-no-{{ nameId }}">
          {{text-for (concat 'paragraph.no_' nameId '_consequences')}}
        </p>
      {{/if}}
    </Field>

    <Field @label={{text-for 'label.email'}} @name="email" as |fieldId nameId|>
      <input type="text" id="{{ fieldId }}" oninput={{action emailChanged}} value={{email}}/>

      {{#if (not email)}}
        <p class="info info-no-{{ nameId }}">
          {{text-for (concat 'paragraph.no_' nameId '_consequences')}}
        </p>
      {{/if}}
    </Field>

    <div class="field field-submit-data">
      <button class="submit-data-button" type="button" onclick={{action submitData}}>{{text-for 'button.submit'}}</button>
    </div>
  {{/if}}

  {{#if steps.three}}
    <DataUploader @name={{name}} @email={{email}} @file={{file}} @onComplete={{action handleDataUploaded}} @uploadUrl={{uploadUrl}} @submitUrl={{submitUrl}} />
  {{/if}}

  {{#if steps.four}}
    <p class="message message-finished-uploading">
      {{text-for 'paragraph.video_finished_uploading'}}
      {{#if hasEmail}}
        {{text-for 'paragraph.video_finished_uploading_append_email'}}
      {{/if}}
    </p>
  {{/if}}

</div>
