<div>
  {{#if steps.one}}
    <FileChooser @onFileChosen={{action handleFileChosen}} accept="video/*">
      {{i18n 'button.invoke_file_picker'}}
    </FileChooser>
  {{/if}}

  {{#if steps.two}}
    <div class="field">
      <label for="name">{{i18n 'label.first_name'}}</label>
      <input type="text" id="name" oninput={{action nameChanged}} value={{name}}/>
    </div>

    <div class="field">
      <label for="email">{{i18n 'label.email'}}</label>
      <input type="text" id="email" oninput={{action emailChanged}} value={{email}}/>
    </div>

    {{#if noName}}
      <p class="info">
        {{i18n 'paragraph.no_name_consequences'}}
      </p>
    {{/if}}
    {{#if noEmail}}
      <p class="info">
        {{i18n 'paragraph.no_email_consequences'}}
      </p>
    {{/if}}
    <div class="field">
      <button type="button" onclick={{action submitData}}>{{i18n 'button.submit'}}</button>
    </div>
  {{/if}}

  {{#if steps.three}}
    <DataUploader @name={{name}} @email={{email}} @file={{file}} @onComplete={{action handleDataUploaded}} @uploadUrl={{uploadUrl}} @submitUrl={{submitUrl}} />
  {{/if}}

  {{#if steps.four}}
    {{i18n 'paragraph.video_finished_uploading'}}
  {{/if}}

</div>
